{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="fw-bold text-center display-3 py-5" style="color: whitesmoke;">Añadir consulta</h1>
      {{error}}
      <form action="/añadir_consulta/" method="POST" class="card card-body text-left">
        
        {% csrf_token %}
        {{form.as_table}}
  
        <button class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}