{% extends 'base.html' %}

{% block content %}
    
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {{error}}

            <form method="POST" class="card card-body text-left">
                <h1 class="text-secondary">{{historia.paciente}}</h1>
                {% csrf_token %}
                {{form.as_table}}
                <button class="btn btn-primary">
                    Actualizar consulta
                </button>
            </form>
            
            <form action="{% url 'delete_historia' historia.id %}" method="POST" class="card card-body">
                {% csrf_token %}
                <button class="btn btn-danger">
                    Eliminar consulta
                </button>
            </form>
            
        </div>
    </div>
</main>

{% endblock %}