{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body" style="background-color: rgb(184, 240, 184);">
        <h1 class="display-1 text-center">Sistema de historias clínicas</h1>
        <h2 class="text-center">Pacientes y consultas</h2>

        <div>
            <a class="btn btn-secondary" href="/iniciar_sesion/">
                Iniciar sesión
            </a>
            <a class="btn btn-dark" href="/registrarse/">
                Registrarse
            </a>
        </div>
    </section>
</main>

{% endblock %}