{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="fw-bold text-center display-3 py-5" style="color: whitesmoke;">Listado de pacientes</h1>

            <div class="card card-body" style="border-color: rgb(4, 63, 4);">
                <form action="/filtrar_pacientes/" method="GET">
                    {% csrf_token %}
                    {{form.as_table}}
                    <input type="text" name="apellido" placeholder="Apellido del Paciente" class="card-header bs-primary-bg-subtle">
                    <button type="submit" class="btn btn-outline-success">Buscar</button>
                </form>
            </div>

            <ul class="list-group">
                {% for paciente in pacientes %}
                <a class="list-group-item" href="{% url 'paciente_detail' paciente.id %}" style="border-color: rgb(4, 63, 4); background-color: rgb(184, 240, 184);">
                    <header class="d-flex justify-content-between">
                        {% if paciente.important %}
                        <h1 class="fw-bold text-success"> {{paciente.nombre}} {{paciente.apellido}} </h1>
                        {% else %}
                        <h1 class="fw-bold"> {{paciente.nombre}} {{paciente.apellido}} </h1>
                        {% endif %}
                        <p> {{paciente.dni}} {{paciente.obrasocial}} </p>
                    </header>
                        
                    
                    
                    <p>{{paciente.datecompleted|date:'M j Y:i'}}</p>
                    
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}