/*-**********-Custom Properties-**********-*/
:root {
    --first-color: #43a70a;
    --first-alpha-color: rgba(0, 132, 255, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20,25,45,0.75);
    --third-color: #1900a7;
    --third-alpha-color: rgba(20, 28, 100, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255,255,255,0.5);
    --black-alpha-color: rgba(0,0,0,0.5);
}
/*-**********-style="--hero-opacity-color: var(--black-alpha-color);"-**********-*/

div{
    color:#92e960
}

body {
    color: #43a70a;
}

